<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Lists</title>
</head>
<body>
 <div class="span12">
  <table id="myTableId" dt:table="true">
   <tbody>
    <tr th:each="productdetails : ${productdetails}" th:action="@{/products/__${id}__/details}">
     <td th:text="${productdetails.id}">id</td>
     <td th:text="${productdetails.name}">name</td>
    </tr>
   </tbody>
  </table>
  <input type="submit" value="Order" />
 </div>
</body>
</html>