<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Lists</title>
</head>
<body>
 <div class="span12">
  <table id="myTableId" dt:table="true">
   <thead>
    <tr>
     <th>id</th>
     <th>profile</th>
     <th>name</th>
     <th>description</th>
     <th>price</th>
     <th>add_by</th>
     <th>created_on</th>

    </tr>
   </thead>
   <tbody>
    <tr th:each="products : ${productlist}">
     <td th:text="${products.id}">id</td>
     <td><img th:src="@{/products/__${products.id}__/profileimg}"
      style="width: 30px; height: 30px;" /></td>
     <td><a th:href="@{/products/__${products.id}__/details}">
     <span th:text="${products.name}" th:remove="tag"></a></span></td>
     <td th:text="${products.description}">Description</td>
     <td th:text="${products.price}">Price</td>
     <td th:text="${products.added_by.email}">added_by</td>
     <td th:text="${products.created_on}">created_on</td>
    </tr>
   </tbody>
  </table>
 </div>
</body>
</html>